<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2> my blog </h2>
        <img src="/public/images/logo.png" >
        <ul>
            <li><a href="">Home |</a></li>
            <li><a href="">Api |</a></li>
            <li><a href="">contact</a></li>
        </ul>
    </header>
    <aside>
         <a href="#">page</a>
    </aside>
    <section>
        <article id="1">
            <h3 class="titre">introduction</h3>
            <p class="auteur"><span>Auteur:</span>agounan</p>
            <p class="date">11-decembre-2022</p>
            <h5 class="abstract">Abstract</h5>            <p class="article">
                 "Inventore similique voluptatibus repellat accusamus reiciendis porro perspiciatis, iste tempore laborum repudiandae officiis quibusdam nostrum alias cum nemo ea optio in odit ut possimus velit nulla magni ipsum. Dolorum, reiciendis.",
            </p>
        </article>
        <article id="2" >
            <h3 class="titre">introduction</h3>
            <p class="auteur"><span>Auteur:</span>agounan</p>
            <p class="date">11-decembre-2022</p>
            <h5 class="abstract">Abstract</h5>
            <p class="article">
                 "Inventore similique voluptatibus repellat accusamus reiciendis porro perspiciatis, iste tempore laborum repudiandae officiis quibusdam nostrum alias cum nemo ea optio in odit ut possimus velit nulla magni ipsum. Dolorum, reiciendis.",
            </p>
        </article>
        <article id="3">
            <h3 class="titre">introduction</h3>
            <p class="auteur"><span>Auteur:</span>agounan</p>
            <p class="date">11-decembre-2022</p>
            <h5 class="abstract">Abstract</h5>
            <p class="article">
                 "Inventore similique voluptatibus repellat accusamus reiciendis porro perspiciatis, iste tempore laborum repudiandae officiis quibusdam nostrum alias cum nemo ea optio in odit ut possimus velit nulla magni ipsum. Dolorum, reiciendis.",
            </p>
        </article>
        

      </section>
    <footer>
          
    </footer>

</body>
</html>